# Ignorar el archivo de base de datos SQLite
db.sqlite3

# Ignorar la carpeta de archivos estáticos generados
staticfiles/

# Archivos subidos por usuarios
media/


# Ignorar configuraciones de entorno virtual (por si usas uno)
venv/
.env
env/

# Ignorar archivos del sistema
.DS_Store
Thumbs.db


# Ignorar todas las carpetas llamadas __pycache__ y su contenido
**/__pycache__/
